body{
    margin: 0;
    width: 100%;
}
.head{
    background: url("../pic_f246401190a1674da6eb71879f0808e9.jpg")center / cover;
    width: 100%;
    height: 100vh;
}
.aos{
    font-size: 50px;
    position: relative;
    top: 150px;
}
.h2{
    position: relative;
    top: 180px;
}
.h3{
    position: relative;
    top:200px ;
}
.global{
    background-color: rgba(45, 45, 169, 0.248);
}
.pic1{
    width: 400px;
    height: 250px;
}
.pic2{
    width: 400px;
    height: 250px;
}
.pic1{
    padding: 100px;
}
.pic2{
    padding: 100px;
}
